footer {
    display: flex;
    background-color: #212529;
    color: aliceblue;
    justify-content: center;
    min-height: 50px;
    margin-top: 50px;
    /* position:sticky; */
    /* bottom: 0px; */
}